<!-- Main hero unit -->
<div style="text-align: center; margin-top: 100px; margin-bottom: 100px;">
  <h2>What would you like to watch?</h2><br>
  <form action="/results" class="form-search">
  <input name="query" id="search_field" type="text" class="input-large search-query" style="margin: 0 auto;">
  <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>